@import "../variables"

.card
  background-color: #FFF
  border-radius: 5px
  &.shadowed
    box-shadow: 0 0 5px 0 rgba(205, 205, 205, 0.3)

  .card-title
    padding: 16px 20px
    color: $jet
    font-weight: 600
    font-size: 18px
    border-bottom: 1px solid $border-color

  .card-content
    padding: 16px 20px
  
  .no-padding
    padding: 0px !important