<!DOCTYPE html>
  <html>
  <head>
    <title>Jobs dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "jobs_dashboard/application", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>